.main-page{
	border: white 10px solid;
	background-color: #fff;
	margin: 0 10%;
}
#titles{
	text-align: right;
	background-color: #A8F0F0;
}
#titles div{
	font-size: 14pt;
}
.section{
	overflow: auto;
	border:  #C2E9E9 4px solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
.section span{
	border-bottom: #009097 2px dashed;
}
.section p img{
	float:right;
}
