.main-page{
	border: white 10px solid;
	background-color: #fff;
	margin: 0 10%;
	overflow: auto;
}
#titles{
	text-align: right;
	background-color: #A8F0F0;
}
#titles div{
	font-size: 14pt;
}
.section{
	overflow: auto;
	border:  #C2E9E9 4px solid;
	background-color: #E8FBFB;
	padding: 5px;
	margin-top: 10px;
}
.section span{
	border-bottom: #009097 2px dashed;
}
.section p img{
	float:right;
}
.sections{
	float: right;
	width: 70%;
}
.column{
	margin-top: 10px;
	font-size: 18px;
	padding: 5px;
	float: left;
	width: 27%;
	background-color: #99E0E0;
	border: solid 5px #009097;
}
.hovered:hover{
	border-bottom: yellow 5px solid;
}